<section class="section hero" aria-label="home">
  <div class="container">
    <figure class="hero-banner">
      <img
        src="./images/hero-banner.png"
        width="560"
        height="540"
        alt="Ahmed"
        class="w-100"
        data-reveal="top"
      />

      <img
        src="./images/hero-shape.svg"
        width="203"
        height="91"
        alt="250+ Projects Done"
        class="shape"
        data-reveal="top"
        data-reveal-delay="0.25s"
      />
    </figure>

    <div class="hero-content">
      <h1 class="h1 hero-title" data-reveal="top" data-reveal-delay="0.5s">
        I'm User Interface Designer & Developer.
      </h1>

      <p class="section-text" data-reveal="top" data-reveal-delay="0.75s">
        Hello! I'm Ahmed El Amine, a Software Engineer, Specialized in FullStack
        web/desktop development Co-Founder of Sender Pro.inc.
      </p>

      <div class="btn-wrapper" data-reveal="top" data-reveal-delay="1s">
        <a href="#" class="btn btn-primary">See My Works</a>

        <a href="#" class="btn btn-secondary">Contact Me</a>
      </div>
    </div>
  </div>
</section>
