<div class="container mt-4" *ngIf="product">
  <div class="row">
    <div class="col-md-6">
      <img
        [src]="product.thumbnail"
        class="img-fluid"
        alt="{{ product.title }}"
      />
    </div>
    <div class="col-md-6">
      <h2>{{ product.title }}</h2>
      <p class="lead">{{ product.description }}</p>
      <p>
        <strong>Price: ${{ product.price }}</strong>
      </p>
      <p>Rating: {{ product.rating }}/5</p>
      <p>Stock: {{ product.stock }}</p>
      <button (click)="addToCart(product)" class="btn btn-lg btn-success">
        Add to Cart
      </button>
    </div>
  </div>
</div>
